
.button-design {

    height: 3em;
    width: 7.5em;

    border-radius: 1em;

    color: rgb(99, 15, 223);
    font-weight: 500;
    border-color: blueviolet;
    border-width: 1px;
    margin: 4px;
    background: rgb(30, 29, 31);


    display: flex;
    justify-content: center;
    align-items: center;
}