body{
    background-color: aliceblue;
}

.text{
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    color: tomato;
    margin: 70px, 0px;
}

#cube{
   
}
