.head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(32, 201, 17);
    text-align: center;
    margin: 1rem 0px;
    font-size: 50px;
}



button{
    background-color:aliceblue;
    border-color: aliceblue;
    padding: 7px;
    
}

body{
    padding: 0px 38rem ;
}

#placeholder{
    padding: 3rem;
}

input{
    text-align: center;
}
ul{
    
}